

@import url(http://fonts.googleapis.com/css?family=Architects+Daughter|Open+Sans:400italic,600italic,700italic,400,700,600|Varela+Round);

body{	
	top:0px;
	margin: 0px;
	
}
.pageContainer{
	width: 1080px;
	margin: 0 auto;

}

h1{
	margin:0px;
	padding-left:100px;
    padding-top: 50px;
	
}

h3{
	color:#999999;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: lighter;
}

.headpart{
	background:#F5F5F5;
	height:184px;
}

.logoArea{
	display: block;
	height: 90px;
	width: 700px;
	background: url("img/logo.gif") no-repeat -18px -20px;
	
}

.searchArea{
	
}

.navigationBar{
	float:left;
	width:100%;
	height:45px;
	margin:0;
	padding-left:0px;
	
	list-style-type:none;
	background-color:#fff;
}

.navigationBar li{
	position:relative;
	width: 180px;
	display:inline-block;
	line-height: 45px;
	vertical-align: top;
    height: 100%;
 	font-family: 'Architects Daughter', cursive;
    font-size:24px;
}

.navigationBar a{
	display:inline-block;
    text-align:center;
    width: 100%;
    height: 100%;
    text-decoration:none;
    
}

.navigationBar li:hover,li:active
{
	background-color:#6495ED;
	color:#FFFFFF;
	cursor:pointer;
}

.imgCarouselMask{
	position:relative;
	width:1080px;
	height:450px;
	overflow:hidden;
}

.imgCarouselArea {
	position:absolute;
	/*line-height:100%;*/
	list-style-type:none;
	margin:0;
	padding:0;
	left:0;
	width:3240px;
	height:450px;
	/*overflow:hidden;*/
	
	
}

.imgCarouselArea li{
	/*margin-left:-40px;*/
	padding:0;
	left:0;
	width:1080px;
	height:450px;
	
	float:left;
	
	
	/*position:relative;
	display:inline-block;*/	
}
.navCarouselCtrl{
	
}

