

body{	
	top:0px;
	margin: 0px;
	
}

h1{
	margin:0px;
	padding-left:100px;
    padding-top: 50px;
	
	//position: relative;
}

h3{
	padding-left:100px;
}

.headpart{
	background:#F5F5F5;
	height:200px;
}

.serchArea{
	
}

.nevigationBar{
	float:left;
	display:block;
	width:1000px;
	height:30px;
	padding-left:100px;
	inline-height:30px;
	list-style-type:none;
}

.nevigationBar li{
	display:inline;
	height:45px;
	width:100%;
  	position:middle;
  	padding-left:0px;
	padding-left:0px;
	padding-right:0px;
 	font-family:"\5FAE\8F6F\96C5\9ED1"; 
    font-size:24px;
	
}

.nevigationBar a:link{
	display:inline-block;
	background-color:#FFFAFA;
	inline-height:100%;
	width:100px;

    font-weight:bold;
    color:#000;
    text-align:center;
    text-decoration:none;
    
}

.nevigationBar a:hover,a:active
{
	background-color:#6495ED;
	color:#FFFFFF;
}


