

body{	
	top:0px;
	margin: 0px;
	
}

h1{
	margin:0px;
	padding-left:100px;
    padding-top: 50px;
	
	//position: relative;
}

h3{
	padding-left:100px;
	color:#999999;
	font-family:"\6977\4F53";
	font-size:18px;
}

.headpart{
	background:#F5F5F5;
	height:194px;
}

.searchArea{
	
}

.navigationBar{
	float:left;
	width:1090px;
	height:45px;
	margin:0 0 0 100px;
	padding-left:0px;
	
	list-style-type:none;
	background-color:#fff;
}

.navigationBar li{
	position:relative;
	top:10px;
	display:inline;
	padding:10px;

 	font-family:"\5FAE\8F6F\96C5\9ED1"; 
    font-size:18px;
}

.navigationBar a:link{
	display:inline-block;
	background-color:#FFFAFA;
	//inline-height:100%;
	
    //font-weight:bold;
   // color:#000;
    text-align:center;
    text-decoration:none;
    
}

.navigationBar li:hover,li:active
{
	background-color:#6495ED;
	color:#FFFFFF;
	cursor:pointer;
}


